[submodule "colors/jellybeans"]
	path = colors/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "plugins/fugitive"]
	path = plugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/endwise"]
	path = plugins/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "plugins/cucumber"]
	path = plugins/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "plugins/markdown"]
	path = plugins/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "colors/solarized"]
	path = colors/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "plugins/surround"]
	path = plugins/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugins/supertab"]
	path = plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "plugins/fuzzyfinder"]
	path = plugins/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "plugins/l9"]
	path = plugins/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "plugins/php-doc"]
	path = plugins/php-doc
	url = https://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
[submodule "plugins/snipmate"]
	path = plugins/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "plugins/nerdcommenter"]
	path = plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "plugins/tabular"]
	path = plugins/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "plugins/autoclose"]
	path = plugins/autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "plugins/ruby-debugger"]
	path = plugins/ruby-debugger
	url = https://github.com/astashov/vim-ruby-debugger.git
[submodule "plugins/javascript"]
	path = plugins/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "plugins/taglist"]
	path = plugins/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "plugins/easymotion"]
	path = plugins/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "plugins/sparkup"]
	path = plugins/sparkup
	url = https://github.com/bingaman/vim-sparkup.git
[submodule "plugins/coffee-script"]
	path = plugins/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "plugins/php-namespace"]
	path = plugins/php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule "plugins/php-cs-fixer"]
	path = plugins/php-cs-fixer
	url = https://github.com/stephpy/vim-php-cs-fixer.git
[submodule "plugins/php-complete"]
	path = plugins/php-complete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "plugins/cpp-complete"]
	path = plugins/cpp-complete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "plugins/js-jquery"]
	path = plugins/js-jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule "plugins/js-jquery-doc"]
	path = plugins/js-jquery-doc
	url = https://github.com/lucapette/vim-jquery-doc.git
[submodule "plugins/easytags"]
	path = plugins/easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "plugins/misc"]
	path = plugins/misc
	url = https://github.com/xolox/vim-misc.git
[submodule "plugins/autocomplpop"]
	path = plugins/autocomplpop
	url = https://github.com/othree/vim-autocomplpop.git
[submodule "plugins/neocomplete"]
	path = plugins/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "plugins/html5"]
	path = plugins/html5
	url = https://github.com/othree/html5.vim.git
[submodule "plugins/closetag"]
	path = plugins/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "plugins/detectindent"]
	path = plugins/detectindent
	url = https://github.com/ciaranm/detectindent
[submodule "plugins/fzf.vim"]
	path = plugins/fzf.vim
	url = https://git::@github.com/junegunn/fzf.vim.git
[submodule "plugins/lightline.vim"]
	path = plugins/lightline.vim
	url = https://git::@github.com/itchyny/lightline.vim.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://git::@github.com/scrooloose/nerdtree.git
[submodule "colors/onedark.vim"]
	path = colors/onedark.vim
	url = https://git::@github.com/joshdick/onedark.vim.git
[submodule "plugins/vim-polyglot"]
	path = plugins/vim-polyglot
	url = https://git::@github.com/sheerun/vim-polyglot.git
[submodule "plugins/vim-json"]
	path = plugins/vim-json
	url = https://git::@github.com/elzr/vim-json.git
[submodule "plugins/mustache"]
	path = plugins/mustache
	url = https://github.com/mustache/vim-mustache-handlebars.git
